// #colors

.primary {
    color: color(primary);
}

.secondary {
    color: color(secondary);
}

.accent {
    color: color(accent);
}

.error {
    color: color(error);
}

.text {
    color: color(text);
}

.light {
    color: color(light);
}

.mid {
    color: color(mid);
}

.dark {
    color: color(dark);
}

.primary-bg {
    background-color: color(primary);
}

.secondary-bg {
    background-color: color(secondary);
}

.accent-bg {
    background-color: color(accent);
}

.error-bg {
    background-color: color(error);
}

.text-bg {
    background-color: color(text);
}

.light-bg {
    background-color: color(light);
}

.mid-bg {
    background-color: color(mid);
}

.dark-bg {
    background-color: color(dark);
}

// #align-content

.left-content {
    text-align: left;
}

.right-content {
    text-align: right;
}

.center-content {
    text-align: center;
}

.justify-content {
    text-align: justify;
}

// #align-self

.clear {
    float: none;
    clear: both;
}

.left-self {
    float: left;
    margin-right: margin(float);
    margin-bottom: margin(float);
}

.right-self {
    float: right;
    margin-left: margin(float);
    margin-bottom: margin(float);
}

.center-self {
    display: inline-block;
    margin-left: margin(auto);
    margin-right: margin(auto);
    margin-bottom: margin(float) * 1.5;
}

// #visibility

.shown {
    display: block;
}

.hidden {
    display: none;
}

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}

.opaque {
    opacity: 1;
}

.semi-opaque {
    opacity: 0.75;
}

.translucent {
    opacity: 0.5;
}

.semi-transparent {
    opacity: 0.25;
}

.transparent {
    opacity: 0;
}

// #text

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.smallcaps {
    font-variant: small-caps;
}

.capitalize {
    text-transform: capitalize;
}