// #colors

.primary {
    color: color(primary);
}

.secondary {
    color: color(secondary);
}

.accent {
    color: color(accent);
}

.error {
    color: color(error);
}

.text {
    color: color(text);
}

.light {
    color: color(light);
}

.mid {
    color: color(mid);
}

.dark {
    color: color(dark);
}

.primary-bg {
    background-color: color(primary);
}

.secondary-bg {
    background-color: color(secondary);
}

.accent-bg {
    background-color: color(accent);
}

.error-bg {
    background-color: color(error);
}

.text-bg {
    background-color: color(text);
}

.light-bg {
    background-color: color(light);
}

.mid-bg {
    background-color: color(mid);
}

.dark-bg {
    background-color: color(dark);
}

// #align-content

// #visibility

// #text

