// #general

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &:focus {
        @include outlineOff();
    }
}

clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

// #links

a {
    &:link, &:visited, &:active {
        text-decoration: underline;
    }

    &:hover {
        @include transitionAll();
        text-decoration: underline;
    }

    &:focus {
        @include outlineOn();
        outline-offset: 5px;
    }
}

// #formatting

body {
    font-family: font(content);
    font-size: size(content);

    @include small {
        min-width: layout(minwidth);
    }
}

%headings {
    margin-bottom: margin(heading);
}

h1 {
    @extend %headings;
    font-size: size(h1) * $percHeading;

    @include landscape {
        font-size: size(h1);
    }
}

h2 {
    @extend %headings;
    font-size: size(h2) * $percHeading;

    @include landscape {
        font-size: size(h2);
    }
}

h3 {
    @extend %headings;
    font-size: size(h3) * $percHeading;

    @include landscape {
        font-size: size(h3);
    }
}

h4 {
    @extend %headings;
    font-size: size(h4) * $percHeading;

    @include landscape {
        font-size: size(h4);
    }
}

h5 {
    @extend %headings;
    font-size: size(h5) * $percHeading;

    @include landscape {
        font-size: size(h5);
    }
}

h6 {
    @extend %headings;
    font-size: size(h6) * $percHeading;

    @include landscape {
        font-size: size(h6);
    }
}

p {
    margin-bottom: margin(paragraph);

    &:last-child {
        margin-bottom: 0;
    }
}

%bold {
    font-weight: weight(boldtext);
}

b {
    @extend %bold;
}

strong {
    @extend %bold;
}

em {

}

ins {

}

del {

}

pre {

}

code {

}

address {

}

// #lists

%lists {
    list-style-type: none;
}

ul {
    @extend %lists;
    li {
        padding: 0;
    }
}

ol {
    @extend %lists;
    li {
        padding: 0;
    }
}

dl {
    dt {
        padding: 0;
    }
    dd {
        padding: 0;
    }
}

// #forms

// input, textarea, select, button
%form-itsb {
    padding: 15px 10px;
    line-height: 1.2;
    transform: none;
}

// input, textarea, select
%form-its {
    border: 1px solid color(dark);
    width: 100%;
}

// button, input[type="submit"]
%form-bi {
    border: 0 none;
    padding-left: 20px;
    padding-right: 20px;
    color: color(light);
    background-color: color(text);
}

input {
    @extend %form-itsb;
    @extend %form-its;

    &[type="submit"] {
        @extend %form-bi;
        
        @include portrait {
            width: auto;
        }

        &:hover {

        }
    }

    &:focus {
        @include outlineOn();
    }
}

textarea {
    @extend %form-itsb;
    @extend %form-its;
    min-height: 200px;
    resize: vertical;

    &:focus {
        @include outlineOn();
    }
}

select {
    @extend %form-itsb;
    @extend %form-its;

    &:focus {
        @include outlineOn();
    }
}

button {
    @extend %form-itsb;
    @extend %form-bi;

    &:hover {
            
    }

    &:focus {
        @include outlineOn();
    }
}

// #tables
