// #containers

.wrapper {
    display: flex;
    flex-direction: column;
}

.boxed {
    margin-left: margin(responsive);
    margin-right: margin(responsive);

    @include large {
        margin-left: margin(desktop);
        margin-right: margin(desktop);
        width: $boxWidth;
    }
}

// #columns

[class*="col-"] {
    width: 100%;
}

.col-s-1 {
    @include portrait {
        width: 8.33%;
    }
}

.col-s-2 {
    @include portrait {
        width: 16.66%;
    }
}

.col-s-3 {
    @include portrait {
        width: 25%;
    }
}

.col-s-4 {
    @include portrait {
        width: 33.33%;
    }
}

.col-s-5 {
    @include portrait {
        width: 41.66%;
    }
}

.col-s-6 {
    @include portrait {
        width: 50%;
    }
}

.col-s-7 {
    @include portrait {
        width: 58.33%;
    }
}

.col-s-8 {
    @include portrait {
        width: 66.66%;
    }
}

.col-s-9 {
    @include portrait {
        width: 75%;
    }
}

.col-s-10 {
    @include portrait {
        width: 83.33%;
    }
}

.col-s-11 {
    @include portrait {
        width: 91.66%;
    }
}

.col-s-12 {
    @include portrait {
        width: 100%; 
    }
}

.col-1 {
    @include landscape {
        width: 8.33%; 
    }
}

.col-2 {
    @include landscape {
        width: 16.66%;
    }
}

.col-3 {
    @include landscape {
        width: 25%;
    }
}

.col-4 {
    @include landscape {
        width: 33.33%;
    }
}

.col-5 {
    @include landscape {
        width: 41.66%;
    }
}

.col-6 {
    @include landscape {
        width: 50%;
    }
}

.col-7 {
    @include landscape {
        width: 58.33%;
    }
}

.col-8 {
    @include landscape {
        width: 66.66%;
    }
}

.col-9 {
    @include landscape {
        width: 75%;
    }
}

.col-10 {
    @include landscape {
        width: 83.33%;
    }
}

.col-11 {
    @include landscape {
        width: 91.66%;
    }
}

.col-12 {
    @include landscape {
        width: 100%;
    }
}

// #rows

.row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    @include portrait {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

// #adjustments

.narrow {
    padding-left: section(narrow);
    padding-right: section(narrow);
}

.normal {
    padding-left: section(normal);
    padding-right: section(normal);
}

.wide {
    padding-left: section(wide);
    padding-right: section(wide);
}

.extrawide {
    padding-top: section(extrawide);
    padding-bottom: section(extrawide);
}

.short {
    padding-top: section(short);
    padding-bottom: section(short);
}

.regular {
    padding-top: section(regular);
    padding-bottom: section(regular);
}

.tall {
    padding-top: section(tall);
    padding-bottom: section(tall);
}

.extratall {
    padding-top: section(extratall);
    padding-bottom: section(extratall);
}

.primary {
    color: color(primary);
}

.secondary {
    color: color(secondary);
}

.accent {
    color: color(accent);
}

.error {
    color: color(error);
}

.text {
    color: color(text);
}

.light {
    color: color(light);
}

.mid {
    color: color(mid);
}

.dark {
    color: color(dark);
}

.bg-primary {
    background-color: color(primary);
}

.bg-secondary {
    background-color: color(secondary);
}

.bg-accent {
    background-color: color(accent);
}

.bg-error {
    background-color: color(error);
}

.bg-text {
    background-color: color(text);
}

.bg-light {
    background-color: color(light);
}

.bg-mid {
    background-color: color(mid);
}

.bg-dark {
    background-color: color(dark);
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.align-top {
        align-items: flex-start;
    }

    &.stretch {
        align-items: stretch;
    }

    &.align-bottom {
        align-items: flex-end;
    }
}