// Miscellaneous

@mixin transitionAll() {
    transition: all 0.3s ease-in;
}

@mixin borderRadius($units) {
    -webkit-border-radius: $units;
       -moz-border-radius: $units;
        -ms-border-radius: $units;
         -o-border-radius: $units;
            border-radius: $units;
}

// Media Query Mixins

@mixin small {
    @media (max-width: #{query(small)}) {
        @content;
    }
}

@mixin portrait {
    @media (min-width: #{query(small)}) {
        @content;
    }
}

@mixin landscape {
    @media (min-width: #{query(landscape)}) {
        @content;
    }
}

@mixin large {
    @media (min-width: #{query(large)}) {
        @content;
    }
}

@mixin extralarge {
    @media (min-width: #{query(extralarge)}) {
        @content;
    }
}

// Map Functions

@function layout($config) {
    @return map-get($layout, $config);
}

@function margin($type) {
    @return map-get($margins, $type);
}

@function color($type) {
    @return map-get($colorPalette, $type);
}

@function section($size) {
    @return map-get($sectionPadding, $size);
}

@function query($type) {
    @return map-get($querySizes, $type);
}
