// Layout Configuration
$layout: (
    width: 1020px,
    minwidth: 320px,
    gutter: 20px
);

// Margins
$margins: (
    responsive: 3%,
    desktop: auto,
    heading: 20px,
    widget: 20px,
    paragraph: 20px,
    float: 10px
);

// Media Query Sizes
$querySizes: (
    small: 600px,
    landscape: 768px,
    large: 992px,
    extralarge: 1200px
);

// Padding Sizes
$sectionPadding: (
    // Horizontal Padding
    narrow: 5px,
    normal: 10px,
    wide: 30px,
    extrawide: 50px,
    // Vertical Padding
    short: 5px,
    regular: 10px,
    tall: 30px,
    extratall: 50
);

// Fonts 
$fonts: (
    heading: (Arial, Helvetica, sans-serif),
    content: ('Open Sans', Arial, Helvetica, sans-serif)
);

// Font Sizes 
$fontSizes: (
    content: 14px,
    h1: 2em,
    h2: 1.8em,
    h3: 1.6em,
    h4: 1.5em,
    h5: 1.4em,
    h6: 1.3em,
    label: 0.9em,
    small: 0.8em
);

// Font Weights
$fontWeights: (
    heading: 700,
    boldtext: 700,
    normaltext: 400,
    label: 300,
    button: 400
);

// Color Choices
$colorPalette: (
    primary: #cd3700,
    secondary: #085083,
    accent: #56b700,
    error: #c30,
    text: #333,
    light: #fff,
    mid: #f6f6f6,
    dark: #ccc
);