// Layout Sizes
$boxWidth: 960px;

// Margins
$margins: (
    responsive: 3%,
    desktop: auto,
    float: 10px
);

// Media Query Sizes
$querySizes: (
    small: 600px,
    landscape: 768px,
    large: 992px,
    extralarge: 1200px
);

// Padding Sizes
$sectionPadding: (
    // Horizontal Padding
    narrow: 5px,
    normal: 10px,
    wide: 30px,
    extrawide: 50px,
    // Vertical Padding
    short: 5px,
    regular: 10px,
    tall: 30px,
    extratall: 50
);

// Color Choices
$colorPalette: (
    primary: #cd3700,
    secondary: #085083,
    accent: #56b700,
    error: #c30,
    text: #333,
    light: #fff,
    mid: #f6f6f6,
    dark: #ccc
);