$boxWidth: 960px;

$headerRowPadding: 10px 0;
$contentRowPadding: 50px 0;
$footerRowPadding: 30px 0;

$colorPalette: (
    primary: #cd3700,
    seconday: #085083,
    accent: #56b700,
    text: #333,
    light: #fff,
    mid: #f6f6f6,
    dark: #ccc
);